<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
         /* #4a5759  , #b0c4b1 , #dedbd2 , #f7e1d7 , #edafb8*/
        *{
            margin: 0;
            padding: 0;
            list-style: none;
            list-style-type: none;
            font-family:Arial, Helvetica, sans-serif;
            text-decoration: none;
        }

        a{
            color:#f7e1d7;
        }
        nav{
            height: 12vh;
            width:80%;
            background-color:#4a5759;
            color: #f7e1d7;
            display: flex;
            align-items:center;
            justify-content: space-between;
            padding-left: 10%;
            padding-right:10%;
        }

        i{
            font-size:2.5rem;
            color: #f7e1d7;
        }

         main{
            height:calc(100vh - 12vh);
            width:80%;
            display: flex;
            align-items:center;
            justify-content:center;
            padding-left: 10%;
            padding-right:10%; 
            background-color: #dedbd2;
            color:#f7e1d7;;
        }

        .container{
            height: 70vh;
            width: 50%;
            background-color:#b0c4b1;
            border-radius: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <nav>
        <h2>logo</h2>
       <a href="http://localhost:8080/"> <i class="fa-solid fa-circle-left"></i></a>
    </nav>
    <main>
        <div class="container">
            <form action="" method="post">
                <input type="text" placeholder="Enter your name" name="name" required>
                <input type="email" name="email" placeholder="xyz@email.com" required>
                <input type="tel" name="phone" placeholder="phone no." required>
                <input type="text" name="city" placeholder="Adress" required>
                <input type="text" name="degree" placeholder="Location B.Tech in CSE" required>
                <input type="text" name="collage" placeholder="Collage or Institute" required>
                <input type="date" name="passyear" placeholder="Enter the year you pass" required>
                <input type="number" name="experience" placeholder="experience" required>
                <input type="text" placeholder="CGPA" name="CGPA" required>
                <input type="text" placeholder="Skills" name="skills" required>
                <input type="text" placeholder="Projects you made" name="project" required>
                <textarea name="Description" placeholder="About you and your porject"></textarea>
            </form>
        </div>
    </main>
</body>
</html>