<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    :root {
      --main: #adb5bd;
      --background: #f8f9fa;
      --text: #212529;
      --secbg: #ced4da;
      --bg: #dee2e6;
        }
        *{
            margin: 0;
            padding: 0;
            list-style: none;
            list-style-type: none;
            font-family:Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: var(--text);
        }

        body{
            background-color:var(--bg);
        }

        nav{
            height: 12vh;
            width:80%;
            color: #f7e1d7;
            display: flex;
            align-items:center;
            justify-content: space-between;
            padding-left: 10%;
            padding-right:10%;
        }

        i{
            font-size:2.5rem;
            color:var(--text);
            border-radius: 50%;
            transition: 0.3s;
        }

        i:hover{
            /* border: 2px solid var(--text); */
            color:var(--main);
        }

         main{
            height:calc(100vh - 12vh);
            width:80%;
            display: flex;
            align-items:center;
            justify-content:center;
            padding-left: 10%;
            padding-right:10%; 
            color:#f7e1d7;;
        }

        .container{
            height:80%;
            width: 40%;
            padding: 2rem;
            border-radius:1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--background);
        }

        form{
            height: 100%;
            width: 90%;
            display: flex;
            align-content:space-around;
            justify-content: center;
            flex-direction: column;
        }

        form p{
            font-size:0.8rem;
            font-weight: 600;
            color: #4a5759;
            margin-top:1rem;
            margin-left:0.5rem;
        }
        form input{
            font-size: 1.2rem;
            color: #4a5759;
            padding:1.5%;
            width:100%;
            height:1.5rem;
            background-color:transparent;
            outline: none;
            border: none;
            border-bottom: 2px solid black;
        }

        form button{
            height:3rem;
            width: 10rem;
            margin-top:1rem;
            transition: 0.4s;
            background-color: var(--text);
            color: var(--secbg);
            border:2px solid var(--main);
            border-radius: 1rem;
        }

        form button:hover{
            border: 2px solid var(--text);
            background-color:var(--bg);
            color:var(--text);
        }
    </style>
</head>
<body>
    <nav>
        <h2>logo</h2>
       <a href="http://localhost:8080/"> <i class="fa-solid fa-circle-left"></i></a>
    </nav>
    <main>
        <div class="container">
            <form action="/form" method="post">
                <input type="text" placeholder="Enter your name" name="name" required>
                <input type="email" name="email" placeholder="xyz@email.com" required>
                <input type="tel" name="phone" placeholder="phone no." required>
                <input type="text" name="adress" placeholder="Adress" required>
                <input type="text" name="degree" placeholder="Degree's" required>
                <input type="text" name="collage" placeholder="Collage or Institute" required>
                <p>Enter the year you passed collage</p>
                <input type="date" name="passyear" required>
                <input type="number" name="experience" placeholder="Experience" required>
                <input type="text" placeholder="CGPA" name="CGPA" required>
                <input type="text" placeholder="Skills" name="skills" required>
                <input type="text" placeholder="Projects you made" name="project" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>