<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>

        /* #4a5759  , #b0c4b1 , #dedbd2 , #f7e1d7 , #edafb8*/
        *{
            margin: 0;
            padding: 0;
            list-style: none;
            list-style-type: none;
        }

        nav{
            height: 12vh;
            width:90%;
            background-color:#4a5759;
            color: #f7e1d7;
            display: flex;
            align-items:center;
            justify-content: space-between;
            padding-left: 5%;
            padding-right: 5%;
        }

        ul{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        ul li{
            font-size: 1.3rem;
            font-weight: 500;
        }

        main{
            height:calc(100vh - 12vh);
            width:90%;
            display: flex;
            align-items:center;
            justify-content: space-between;
            padding-left: 5%;
            padding-right: 5%; 
            background-color: #dedbd2;
            color: #4a5759;
        }
    </style>
</head>
<body>
    <nav>
        <h2>logo</h2>
        <ul>
            <li>Resume Builder</li>
            <li>log in</li>
            <li>My resume</li>
        </ul>
    </nav>
    <main>
        <h1>hello world</h1>
    </main>
</body>
</html>