<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>

        /* #4a5759  , #b0c4b1 , #dedbd2 , #f7e1d7 , #edafb8*/
        *{
            margin: 0;
            padding: 0;
            list-style: none;
            list-style-type: none;
            font-family:Arial, Helvetica, sans-serif;
            text-decoration: none;
        }

        a{
            color:#f7e1d7;
        }
        nav{
            height: 12vh;
            width:80%;
            background-color:#4a5759;
            color: #f7e1d7;
            display: flex;
            align-items:center;
            justify-content: space-between;
            padding-left: 10%;
            padding-right:10%;
        }

        ul{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        ul li{
            font-size: 1.3rem;
            font-weight: 500;
        }

        main{
            height:calc(100vh - 12vh);
            width:80%;
            display: flex;
            align-items:center;
            justify-content: space-between;
            padding-left: 10%;
            padding-right:10%; 
            background-color: #dedbd2;
            color:#f7e1d7;;
        }

        .container{
            height: 70vh;
            width: 100%;
            background-color:#b0c4b1;
            border-radius: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .pt1{
            height: 100%;
            width: 100%;
            background-color: #4a5759;
        }

         .pt2{
            height: 100%;
            width: 100%;
            background-color: #d2e1e3;
        }

        .pt1 h2{
            font-size:3rem;
            font-weight: 700;
            font-family: 'Inter', sans-serif;
        }

        .pt1{
            font-size:1.2rem;
            font-weight: 300;
            font-family: 'Inter', sans-serif;
        }

        .pt1 button{
            height: 5rem;
            width:8rem;
            outline: none;
            border: 2px solid #4a5759;
            background-color: #f7e1d7;
            color: #4a5759;
        }
    </style>
</head>
<body>
    <nav>
        <h2>logo</h2>
        <ul>
            <a href="http://localhost:8080/form"><li>Resume Builder</li></a>
            <a href=""><li>log in</li></a>
            <a href=""><li>My resume</li></a>
        </ul>
    </nav>
    <main>
        <div class="container">
            <div class="pt1">
                <h2>Job Kaise Lagega <br>
                Jab <span>Resume </span>hi Faltu hai</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, reiciendis arehenderit cum quidem est ratione? Ratione consectetur voluptates perspiciatis!</p>
                <div class="buttons">
                    <button>Build Resume</button>
                    <button>Explore</button>
                </div>
            </div>
            <div class="pt2"></div>
        </div>
    </main>
</body>
</html>