<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            list-style: none;
            list-style-type: none;
        }

        nav{
            height: 10vh;
            width:90%;
            background-color: royalblue;
            display: flex;
            align-items:center;
            justify-content: space-between;
            padding-left: 5%;
            padding-right: 5%;
        }

        ul{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        ul li{
            font-size: 1.2rem;
            font-weight: 500;
        }
    </style>
</head>
<body>
    <nav>
        <h2>logo</h2>
        <ul>
            <li>Resume Builder</li>
            <li>log in</li>
            <li>My resume</li>
        </ul>
    </nav>
</body>
</html>