<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <style>
         :root {
      --main: #adb5bd;
      --background: #f8f9fa;
      --text: #212529;
      --secbg: #ced4da;
      --bg: #dee2e6;
        }
        *{
            margin: 0;
            padding: 0;
            list-style: none;
            list-style-type: none;
            font-family:Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: var(--text);
        }

        body{
            background-color:var(--bg);
        }

        nav{
            height: 12vh;
            width:80%;
            color: #f7e1d7;
            display: flex;
            align-items:center;
            justify-content: space-between;
            padding-left: 10%;
            padding-right:10%;
        }

        i{
            font-size:2.5rem;
            color:var(--text);
            border-radius: 50%;
            transition: 0.3s;
        }

        i:hover{
            /* border: 2px solid var(--text); */
            color:var(--main);
        }

    </style>
</head>
<body>
     <nav>
        <h2>logo</h2>
       <a href="http://localhost:8080/"> <i class="fa-solid fa-circle-left"></i></a>
    </nav>
</body>
</html>